input[type='text'],
input[type='number'],
select:focus,
textarea {
  font-size: 26px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 230px;
  text-align-last: center;
  background-color: #EEEEEE;
}

body {
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	background-color: red;
}

body.green {
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	background-color: green;
}

h1 {
	font-family: Tahoma, Geneva, sans-serif;
	color: #EEEEEE;
	text-align: center;
}